.attribution { font-size: 11px; text-align: center;  margin-top: 2em; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: rgb(109, 127, 151);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body{
    background-color: var(--Light-Grayish-Blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-family: 'Manrope', sans-serif;
}

.card{
    display: flex;
    background-color: white;
    border-radius: 10px;
}
.card-wrapper{
    padding: 2em;
    max-width: 29em;
}
.h1-bold{
    margin-bottom: 1em;
    color: var(--Very-Dark-Grayish-Blue);
}
.description{
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4em;
    color: var(--Desaturated-Dark-Blue);
}
.card-img{
    width: 20em;
    height: inherit;
    border-radius: 10px 0 0 10px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-name{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}
.profile-data{
    display: flex;
    gap: .5em;
    align-items: center;
}
.profile-data-image{
    width: 2.5em;
    border-radius: 50%;
}
.profile-date{
    display: block;
    font-weight: 400;
    color: var(--Grayish-Blue);
}
.share{
    position: relative;
}
.share-links-desktop{
    gap: .7em;
    flex-direction: row;
    display: none;
    align-items: center;
    justify-content: center;
    width: 13em;
    padding: 0.8em 0;
    border-radius: 10px;
    color: var(--Desaturated-Dark-Blue);
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    bottom: 55px;
    right: -89px;
}
.share-links-desktop.show{
    display: flex;
}
.share-links-desktop:hover{
    cursor: pointer;
}
.share-links-desktop::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--Very-Dark-Grayish-Blue);
    clear: both;
}
.share-links-mobile, .share-arrow-container-mobile{
    display: none;
}
.share-arrow-container-desktop{
    display: flex;
    width: 30px;
    height: 30px;
    padding: .5em;
    border-radius: 50%;
    background-color: var(--Light-Grayish-Blue);
    cursor: pointer;
}
@media (max-width:800px){
    .card{
        flex-direction: column;
        margin: auto;
        margin: 2em;
    }
    .card-img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .card-wrapper{
        max-width: 100%;
        padding: 0;
    }
    .h1-bold, .description,.profile{
        padding: 0 32px;
        margin-top: 1em;
    }
    .profile{
        padding: 1em 32px;
    }
    .profile-data{
        gap: .8em;
    }
    .share-links-desktop,.share-arrow-container-desktop{
        display: none;
    }
    .share-arrow-container-mobile{
        display: flex;
        width: 30px;
        height: 30px;
        padding: .5em;
        border-radius: 50%;
        background-color: var(--Light-Grayish-Blue);
        cursor: pointer;
    }
    .share-links-mobile{
        gap: .7em;
        display: none;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 70%;
        justify-content: space-between;
        padding: 0.8em 0;
        color: var(--Desaturated-Dark-Blue);
    }

    /*================= toggle classes ==============*/
    .profile-data.hide{
        display: none;
    }
    .share.change{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .share-links-mobile.show{
        display: flex;
        justify-content: space-around;
    }
      .profile.change{
        background-color: var(--Very-Dark-Grayish-Blue);
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
